<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>
<body>
<h1>Login Page</h1>

<form th:action="@{/login-process}" method="post">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="email"/>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="pass"/>
    </div>
    <button type="submit">Đăng nhập</button>
</form>
</body>
</html>