<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${movie.name}">Bootstrap demo</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
          integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
          crossorigin="anonymous" referrerpolicy="no-referrer">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"
          integrity="sha512-vKMx8UnXk60zUwyUnUPM3HbQo8QfmNx7+ltw8Pm5zLusl1XIfwcxo8DbWCqMGKaWeNxWA8yrx5v3SaVpMvR3CA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.6.0/pagination.min.css"
          integrity="sha512-K1k7jSn9RDKEcn/ugqVVvWYu0bcS3q1w6m/5pQSnrj0bCfIqF6Wk49lkmckSb4wglvTP9V17LtS0q0XxYccXbg=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" th:href="@{/web-assets/css/style.css}">
</head>

<body>
<header>
    <nav class="navbar navbar-expand-lg bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img class="logo" src="/web-assets/image/logo.png" alt="logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link text-white" href="/">Trang chủ</a>
                    <a class="nav-link text-white" href="/phim-le">Phim lẻ</a>
                    <a class="nav-link text-white" href="/phim-bo">Phim bộ</a>
                    <a class="nav-link text-white" href="/phim-chieu-rap">Phim chiếu rạp</a>
                    <a class="nav-link text-white" href="#">Quốc gia</a>
                    <a class="nav-link text-white" href="#">Thể loại</a>
                </div>
                <div>
                    <a th:if="${session.currentUser == null}" class="text-white" href="/dang-nhap">Đăng nhập</a>

                    <div class="dropdown" th:if="${session.currentUser != null}">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false" th:text="${session.currentUser.name}">
                            Bui Hien
                        </button>
                        <ul class="dropdown-menu">
                            <li th:if="${session.currentUser.role.toString() == 'ADMIN'}">
                                <a class="dropdown-item" href="/admin">Trang quản trị</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/thong-tin-ca-nhan">Thông tin cá nhân</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/phim-yeu-thich">Phim yêu thích</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/lich-su-xem-phim">Lịch sử xem phim</a>
                            </li>
                            <li>
                                <span class="dropdown-item" style="cursor: pointer">Đăng xuất</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>

<section class="py-4">
    <div class="container">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="text-primary" href="/">Trang chủ</a></li>
                <li class="breadcrumb-item">
                    <a th:switch="${movie.type.toString()}">
                        <a class="text-primary" th:case="PHIM_LE" href="/phim-le">Phim lẻ</a>
                        <a class="text-primary" th:case="PHIM_BO" href="/phim-bo">Phim bộ</a>
                        <a class="text-primary" th:case="PHIM_CHIEU_RAP" href="/phim-chieu-rap">Phim chiếu rạp</a>
                        <a class="text-primary" th:case="*" href="#">Không xác định</a> <!-- Trường hợp mặc định -->
                    </a>
                </li>
                <li class="breadcrumb-item active" aria-current="page" th:text="${movie.name}">Đầu Gấu Đụng Đầu Đất
                </li>
            </ol>
        </nav>

        <div class="row mt-4">
            <div class="col-3">
                <div class="movie-poster rounded overflow-hidden" style="height: 350px;">
                    <img th:src="${movie.poster}" th:alt="${movie.name}">
                </div>
            </div>
            <div class="col-9">
                <h4 class="mb-2" th:text="${movie.name}">Truy Tìm Dory</h4>
                <div class="bg-body-tertiary p-4 rounded">
                    <p class="mb-2">Thể loại:
                        <th:block th:each="genre, iterStat : ${movie.genres}">
                            <th:block th:text="${genre.name}"></th:block>
                            <th:block th:if="${!iterStat.last}">,</th:block>
                        </th:block>
                    </p>
                    <p class="mb-2">Năm phát hành:
                        <th:block th:text="${movie.releaseYear}"></th:block>
                    </p>
                    <p class="mb-2">Quốc gia:
                        <th:block th:text="${movie.country.name}"></th:block>
                    </p>
                    <p class="mb-2">Đạo diễn:
                        <th:block th:each="director, iterStat : ${movie.directors}">
                            <th:block th:text="${director.name}"></th:block>
                            <th:block th:if="${!iterStat.last}">,</th:block>
                        </th:block>
                    </p>
                    <p class="mb-2">Diễn viên:
                        <th:block th:each="actor, iterStat : ${movie.actors}">
                            <th:block th:text="${actor.name}"></th:block>
                            <th:block th:if="${!iterStat.last}">,</th:block>
                        </th:block>
                    </p>
                    <p class="mb-2">Mô tả:
                        <th:block th:text="${movie.description}"></th:block>
                    </p>

                    <th:block th:if="${movie.type.toString() == 'PHIM_BO' && episodes.size() > 0}">
                        <a class="btn btn-danger px-5"
                           th:href="@{/xem-phim/{id}/{slug} (id=${movie.id}, slug=${movie.slug}, tap=${episodes.get(0).displayOrder})}">
                            Xem phim</a>
                    </th:block>

                    <th:block
                            th:if="${(movie.type.toString() == 'PHIM_LE' || movie.type.toString() == 'PHIM_CHIEU_RAP') && episodes.size() > 0}">
                        <a class="btn btn-danger px-5"
                           th:href="@{/xem-phim/{id}/{slug} (id=${movie.id}, slug=${movie.slug}, tap='full')}">
                            Xem phim</a>
                    </th:block>

                    <button th:if="${session.currentUser != null}" class="btn btn-dark px-5">Thêm vào yêu thích</button>
                </div>
            </div>
        </div>

        <div class="row" th:if="${movie.type.toString() == 'PHIM_BO' && episodes.size() > 0}">
            <h4 class="text-uppercase mt-4 mb-3">Danh sách tập phim</h4>
            <div>
                <a class="btn btn-dark me-2"
                   th:each="episode : ${episodes}"
                   th:text="${episode.name}"
                   th:href="@{/xem-phim/{id}/{slug} (id=${movie.id}, slug=${movie.slug}, tap=${episode.displayOrder})}">
                    >Tập 1</a>
            </div>
        </div>
    </div>
</section>

<section class="py-4 bg-body-tertiary">
    <div class="container">
        <h4 class="text-uppercase mb-3">Phim đề xuất</h4>
        <div class="row">
            <div class="col-2" th:each="movie : ${relatedMovies}">
                <a th:href="@{/phim/{id}/{slug} (id=${movie.id}, slug=${movie.slug})}"
                   class="text-decoration-none text-dark">
                    <div class="movie-item">
                        <div class="movie-poster rounded overflow-hidden">
                            <img th:src="${movie.poster}" th:alt="${movie.name}">
                        </div>
                        <p class="mt-2" th:text="${movie.name}">Truy Tìm Dory</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="py-4">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <h4 class="text-uppercase mb-3">Bình luận</h4>
            <button th:if="${session.currentUser != null}" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalReview">
                Viết bình luận
            </button>
        </div>
        <p th:if="${session.currentUser == null}">Vui lòng <a href="/dang-nhap" class="text-decoration-underline">đăng nhập</a> để viết bình luận.</p>

        <div class="review-list">
            <!--            <div class="review-item d-flex mb-4" th:each="review : ${reviews}">-->
            <!--                <div class="review-avatar">-->
            <!--                    <img th:src="${review.user.avatar}" th:alt="${review.user.name}">-->
            <!--                </div>-->

            <!--                <div class="review-info ps-3">-->
            <!--                    <p class="mb-0">-->
            <!--                        <span class="fw-bold" th:text="${review.user.name}">Bùi Hiên</span>-->
            <!--                        <span class="fst-italic text-muted">-->
            <!--                            (<th:block th:text="${#temporals.format(review.createdAt, 'dd/MM/yyyy')}"></th:block>)-->
            <!--                        </span>-->
            <!--                    </p>-->
            <!--                    <p class="mb-0 fw-bold">-->
            <!--                        <th:block th:text="${review.rating}"></th:block>-->
            <!--                        <span class="text-warning"><i class="fa fa-star"></i></span>-->
            <!--                    </p>-->
            <!--                    <p class="mb-0" th:text="${review.content}">Lorem ipsum dolor sit amet</p>-->

            <!--                    <div>-->
            <!--                        <button-->
            <!--                                th:onclick="|openModalReviewUpdate(${review.id})|"-->
            <!--                                class="text-primary border-0 bg-transparent text-decoration-underline me-1">Sửa</button>-->
            <!--                        <button-->
            <!--                                th:onclick="|deleteReview(${review.id})|"-->
            <!--                                class="text-danger border-0 bg-transparent text-decoration-underline me-1">Xóa-->
            <!--                        </button>-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--            </div>-->
        </div>

        <div id="pagination" class="d-flex justify-content-center"></div>
    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="modalReview" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Tạo bình luận</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="d-flex flex-column justify-content-center align-items-center mb-3">
                    <div class="rating">
                        <span class="star" data-rating="1">
                           <i class="fa-solid fa-star"></i>
                        </span>
                        <span class="star" data-rating="2">
                           <i class="fa-solid fa-star"></i>
                        </span>
                        <span class="star" data-rating="3">
                           <i class="fa-solid fa-star"></i>
                        </span>
                        <span class="star" data-rating="4">
                           <i class="fa-solid fa-star"></i>
                        </span>
                        <span class="star" data-rating="5">
                           <i class="fa-solid fa-star"></i>
                        </span>
                        <span class="star" data-rating="6">
                           <i class="fa-solid fa-star"></i>
                        </span>
                        <span class="star" data-rating="7">
                           <i class="fa-solid fa-star"></i>
                        </span>
                        <span class="star" data-rating="8">
                           <i class="fa-solid fa-star"></i>
                        </span>
                        <span class="star" data-rating="9">
                           <i class="fa-solid fa-star"></i>
                        </span>
                        <span class="star" data-rating="10">
                           <i class="fa-solid fa-star"></i>
                        </span>
                    </div>
                    <div id="rating-value">Vui lòng chọn đánh giá</div>
                </div>
                <form id="form-review">
                    <div class="mb-3">
                        <textarea class="form-control" id="review-content" rows="5"></textarea>
                    </div>
                    <div class="mb-3 d-flex justify-content-end">
                        <button type="submit" class="btn btn-primary">Tạo bình luận</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<footer class="bg-dark py-4">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <img class="logo" src="/web-assets/image/logo.png" alt="logo">
                <p class="text-white mb-0 mt-3">Xem phim online miễn phí chất lượng cao với phụ đề tiếng việt -
                    thuyết minh - lồng tiếng. Mọt phim - Mot chill có nhiều thể loại phim phong phú, đặc sắc, nhiều
                    bộ phim hay nhất - mới nhất.</p>
            </div>

            <div class="col">
                <div class="text-white">
                    <h5 class="text-uppercase fw-normal mb-3">Danh mục phim</h5>
                    <p class="mb-2">Phim bộ</p>
                    <p class="mb-2">Phim lẻ</p>
                    <p class="mb-2">Phim chiếu rạp</p>
                    <p class="mb-2">Thể loại</p>
                    <p class="mb-0">Quốc gia</p>
                </div>
            </div>

            <div class="col">
                <div class="text-white">
                    <h5 class="text-uppercase fw-normal mb-3">Danh mục phim</h5>
                    <p class="mb-2">Phim bộ</p>
                    <p class="mb-2">Phim lẻ</p>
                    <p class="mb-2">Phim chiếu rạp</p>
                    <p class="mb-2">Thể loại</p>
                    <p class="mb-0">Quốc gia</p>
                </div>
            </div>

            <div class="col">
                <div class="text-white">
                    <h5 class="text-uppercase fw-normal mb-3">Danh mục phim</h5>
                    <p class="mb-2">Phim bộ</p>
                    <p class="mb-2">Phim lẻ</p>
                    <p class="mb-2">Phim chiếu rạp</p>
                    <p class="mb-2">Thể loại</p>
                    <p class="mb-0">Quốc gia</p>
                </div>
            </div>
        </div>
    </div>
</footer>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"
        integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.6.0/pagination.min.js"
        integrity="sha512-GzbaI5EsNzdEUq6/2XLYpr1y9CUZRIVsUeWTAFgULtQa5jZ3Nug8i0nZKM6jp9NffBCZhymPPQFcF0DK+JkRpw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/web-assets/js/common.js"></script>
<script th:inline="javascript">
    const movie = [[${movie}]];
    console.log(movie);

    const reviews = [[${reviews}]];
    console.log(reviews);
</script>
<script src="/web-assets/js/movie-review.js"></script>

</body>

</html>