<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/web-assets/css/style.css}">
</head>

<body>
<header>
    <nav class="navbar navbar-expand-lg bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img class="logo" src="https://motchillj.com/motchill.png?v1.0.2" alt="logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link text-white" href="/">Trang chủ</a>
                    <a class="nav-link text-white" href="/phim-le">Phim lẻ</a>
                    <a class="nav-link text-white" href="/phim-bo">Phim bộ</a>
                    <a class="nav-link text-white" href="/phim-chieu-rap">Phim chiếu rạp</a>
                    <a class="nav-link text-white" href="#">Quốc gia</a>
                    <a class="nav-link text-white" href="#">Thể loại</a>
                </div>
            </div>
        </div>
    </nav>
</header>

<section class="py-4">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <div class="movie-poster rounded overflow-hidden" style="height: 350px;">
                    <img src="https://i.mpcdn.top/poster/truy-tim-dory-564.jpg?1716456921" alt="">
                </div>
            </div>
            <div class="col-9">
                <h4 class="mb-2">Truy Tìm Dory</h4>
                <div class="bg-body-tertiary p-4 rounded">
                    <p class="mb-2">Thể loại: Hoạt hình, Phiêu lưu, Hài hước</p>
                    <p class="mb-2">Năm phát hành: 2024</p>
                    <p class="mb-2">Quốc gia: Mỹ</p>
                    <p class="mb-2">Đạo diễn: Andrew Stanton, Angus MacLane</p>
                    <p class="mb-2">Diễn viên: Ellen DeGeneres, Albert Brooks, Ed O'Neill</p>
                    <p class="mb-2">Mô tả: Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad amet aliquam,
                        ullam illo alias quibusdam minima totam dolorem pariatur itaque ut delectus sunt, quis eius
                        incidunt perferendis commodi dolores, rem vitae? Suscipit nam voluptate explicabo ipsum. Et,
                        quod. Iusto ipsa officiis esse. Porro illo tenetur iure quos deleniti cum culpa!</p>

                    <button class="btn btn-danger px-5">Xem phim</button>
                    <button class="btn btn-dark px-5">Thêm vào yêu thích</button>
                </div>
            </div>
        </div>

        <div class="row">
            <h3 class="text-uppercase mt-4 mb-3">Danh sách tập phim</h3>
            <div>
                <button class="btn btn-dark">Tập 1</button>
                <button class="btn btn-dark">Tập 2</button>
                <button class="btn btn-dark">Tập 3</button>
                <button class="btn btn-dark">Tập 4</button>
                <button class="btn btn-dark">Tập 5</button>
                <button class="btn btn-dark">Tập 6</button>
                <button class="btn btn-dark">Tập 7</button>
                <button class="btn btn-dark">Tập 8</button>
                <button class="btn btn-dark">Tập 9</button>
            </div>
        </div>
    </div>
</section>

<section class="py-4 bg-body-tertiary">
    <div class="container">
        <h3 class="text-uppercase mb-3">Phim đề xuất</h3>
        <div class="row">
            <div class="col-2">
                <div class="movie-item">
                    <div class="movie-poster rounded overflow-hidden">
                        <img src="https://i.mpcdn.top/poster/truy-tim-dory-564.jpg?1716456921" alt="">
                    </div>
                    <p class="mt-2">Truy Tìm Dory</p>
                </div>
            </div>
            <div class="col-2">
                <div class="movie-item">
                    <div class="movie-poster rounded overflow-hidden">
                        <img src="https://i.mpcdn.top/poster/truy-tim-dory-564.jpg?1716456921" alt="">
                    </div>
                    <p class="mt-2">Truy Tìm Dory</p>
                </div>
            </div>
            <div class="col-2">
                <div class="movie-item">
                    <div class="movie-poster rounded overflow-hidden">
                        <img src="https://i.mpcdn.top/poster/truy-tim-dory-564.jpg?1716456921" alt="">
                    </div>
                    <p class="mt-2">Truy Tìm Dory</p>
                </div>
            </div>
            <div class="col-2">
                <div class="movie-item">
                    <div class="movie-poster rounded overflow-hidden">
                        <img src="https://i.mpcdn.top/poster/truy-tim-dory-564.jpg?1716456921" alt="">
                    </div>
                    <p class="mt-2">Truy Tìm Dory</p>
                </div>
            </div>
            <div class="col-2">
                <div class="movie-item">
                    <div class="movie-poster rounded overflow-hidden">
                        <img src="https://i.mpcdn.top/poster/truy-tim-dory-564.jpg?1716456921" alt="">
                    </div>
                    <p class="mt-2">Truy Tìm Dory</p>
                </div>
            </div>
            <div class="col-2">
                <div class="movie-item">
                    <div class="movie-poster rounded overflow-hidden">
                        <img src="https://i.mpcdn.top/poster/truy-tim-dory-564.jpg?1716456921" alt="">
                    </div>
                    <p class="mt-2">Truy Tìm Dory</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-4">
    <div class="container">
        <h3 class="text-uppercase mb-3">Bình luận</h3>

        <div class="review-list">
            <div class="review-item d-flex mb-3">
                <div class="review-avatar">
                    <img src="https://i.mpcdn.top/poster/truy-tim-dory-564.jpg?1716456921" alt="">
                </div>

                <div class="review-info ps-3">
                    <p class="mb-0">
                        <span class="fw-bold">Bùi Hiên</span>
                        <span class="fst-italic text-muted">(26/05/2024)</span>
                    </p>
                    <p class="mb-0">4 <span class="text-warning">💛</span></p>
                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla porro impedit
                        molestias labore esse fugit corporis quisquam alias dolor natus, et est reiciendis quam modi.
                        Maxime quis a omnis nemo ea aperiam, corrupti vitae id maiores nisi asperiores tempore quas
                        reiciendis optio impedit quasi ad laudantium nobis eum mollitia animi!</p>
                </div>
            </div>
            <div class="review-item d-flex mb-3">
                <div class="review-avatar">
                    <img src="https://i.mpcdn.top/poster/truy-tim-dory-564.jpg?1716456921" alt="">
                </div>

                <div class="review-info ps-3">
                    <p class="mb-0">
                        <span class="fw-bold">Bùi Hiên</span>
                        <span class="fst-italic text-muted">(26/05/2024)</span>
                    </p>
                    <p class="mb-0">4 <span class="text-warning">💛</span></p>
                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla porro impedit
                        molestias labore esse fugit corporis quisquam alias dolor natus, et est reiciendis quam modi.
                        Maxime quis a omnis nemo ea aperiam, corrupti vitae id maiores nisi asperiores tempore quas
                        reiciendis optio impedit quasi ad laudantium nobis eum mollitia animi!</p>
                </div>
            </div>
            <div class="review-item d-flex mb-3">
                <div class="review-avatar">
                    <img src="https://i.mpcdn.top/poster/truy-tim-dory-564.jpg?1716456921" alt="">
                </div>

                <div class="review-info ps-3">
                    <p class="mb-0">
                        <span class="fw-bold">Bùi Hiên</span>
                        <span class="fst-italic text-muted">(26/05/2024)</span>
                    </p>
                    <p class="mb-0">4 <span class="text-warning">💛</span></p>
                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla porro impedit
                        molestias labore esse fugit corporis quisquam alias dolor natus, et est reiciendis quam modi.
                        Maxime quis a omnis nemo ea aperiam, corrupti vitae id maiores nisi asperiores tempore quas
                        reiciendis optio impedit quasi ad laudantium nobis eum mollitia animi!</p>
                </div>
            </div>
            <div class="review-item d-flex mb-3">
                <div class="review-avatar">
                    <img src="https://i.mpcdn.top/poster/truy-tim-dory-564.jpg?1716456921" alt="">
                </div>

                <div class="review-info ps-3">
                    <p class="mb-0">
                        <span class="fw-bold">Bùi Hiên</span>
                        <span class="fst-italic text-muted">(26/05/2024)</span>
                    </p>
                    <p class="mb-0">4 <span class="text-warning">💛</span></p>
                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla porro impedit
                        molestias labore esse fugit corporis quisquam alias dolor natus, et est reiciendis quam modi.
                        Maxime quis a omnis nemo ea aperiam, corrupti vitae id maiores nisi asperiores tempore quas
                        reiciendis optio impedit quasi ad laudantium nobis eum mollitia animi!</p>
                </div>
            </div>
            <div class="review-item d-flex mb-3">
                <div class="review-avatar">
                    <img src="https://i.mpcdn.top/poster/truy-tim-dory-564.jpg?1716456921" alt="">
                </div>

                <div class="review-info ps-3">
                    <p class="mb-0">
                        <span class="fw-bold">Bùi Hiên</span>
                        <span class="fst-italic text-muted">(26/05/2024)</span>
                    </p>
                    <p class="mb-0">4 <span class="text-warning">💛</span></p>
                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla porro impedit
                        molestias labore esse fugit corporis quisquam alias dolor natus, et est reiciendis quam modi.
                        Maxime quis a omnis nemo ea aperiam, corrupti vitae id maiores nisi asperiores tempore quas
                        reiciendis optio impedit quasi ad laudantium nobis eum mollitia animi!</p>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="bg-dark py-4">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <img class="logo" src="https://motchillj.com/motchill.png?v1.0.2" alt="logo">
                <p class="text-white mb-0 mt-3">Xem phim online miễn phí chất lượng cao với phụ đề tiếng việt -
                    thuyết minh - lồng tiếng. Mọt phim - Mot chill có nhiều thể loại phim phong phú, đặc sắc, nhiều
                    bộ phim hay nhất - mới nhất.</p>
            </div>

            <div class="col">
                <div class="text-white">
                    <h5 class="text-uppercase fw-normal mb-3">Danh mục phim</h5>
                    <p class="mb-2">Phim bộ</p>
                    <p class="mb-2">Phim lẻ</p>
                    <p class="mb-2">Phim chiếu rạp</p>
                    <p class="mb-2">Thể loại</p>
                    <p class="mb-0">Quốc gia</p>
                </div>
            </div>

            <div class="col">
                <div class="text-white">
                    <h5 class="text-uppercase fw-normal mb-3">Danh mục phim</h5>
                    <p class="mb-2">Phim bộ</p>
                    <p class="mb-2">Phim lẻ</p>
                    <p class="mb-2">Phim chiếu rạp</p>
                    <p class="mb-2">Thể loại</p>
                    <p class="mb-0">Quốc gia</p>
                </div>
            </div>

            <div class="col">
                <div class="text-white">
                    <h5 class="text-uppercase fw-normal mb-3">Danh mục phim</h5>
                    <p class="mb-2">Phim bộ</p>
                    <p class="mb-2">Phim lẻ</p>
                    <p class="mb-2">Phim chiếu rạp</p>
                    <p class="mb-2">Thể loại</p>
                    <p class="mb-0">Quốc gia</p>
                </div>
            </div>
        </div>
    </div>
</footer>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>