* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    object-fit: cover;
}

.logo {
    width: 200px;
}

.movie-poster {
    height: 250px;
}

.movie-poster img{
    width: 100%;
    height: 100%;
}

.review-avatar {
    flex: 0 0 80px;
}

.review-avatar img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.carousel-wrapper {
    position: relative;
}

.owl-carousel .owl-nav {
    overflow: hidden;
    height: 0px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #5110e9;
}


.owl-carousel .item {
    text-align: center;
}

.owl-carousel .nav-button {
    height: 50px;
    width: 25px;
    cursor: pointer;
    position: absolute;
    top: 110px !important;

    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    line-height: 50px;
}

.owl-carousel .owl-prev.disabled,
.owl-carousel .owl-next.disabled {
    pointer-events: none;
    opacity: 0.25;
}

.owl-carousel .owl-prev {
    left: -35px;
}

.owl-carousel .owl-next {
    right: -35px;
}

.owl-theme .owl-nav [class*=owl-] {
    color: #ffffff;
    font-size: 39px;
    background: #000000;
    border-radius: 3px;
}

.owl-carousel .prev-carousel:hover {
    background-position: 0px -53px;
}

.owl-carousel .next-carousel:hover {
    background-position: -24px -53px;
}